*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 18px;
    font-family: "arial";
    background-color: rgb(198, 198, 198);
}

a{
    text-decoration: none;
    color: black;
}

#container{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#area{
    display: grid;
    grid-template-areas: "texto"
                         "imagem"
                         "link";
    grid-template-rows: 4vh 60vh 4vh;
    grid-template-columns: 70vh;
}

#texto{
    grid-area: texto;
    text-align: center;
    font-size: 1em;
}

#imagem{
    grid-area: imagem;
}

img{
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
}

#link{
    grid-area: link;
    text-align: center;
}

@media screen and (max-width: 768px){
    #area{
        grid-template-rows: 6vh 38vh 10vh;
        grid-template-columns: 38vh;
    }

    #texto{
        font-size: 0.8em;
    }
}